
*{
    box-sizing: border-box;    
  }
  body{
      display: flex;
      width: 100%;
      height: 100vh; 
      padding:0px;
      margin: 0px;
  }
  
  .main-container{
  /* background-color: coral; */
  width: 100%;
  height: 100vh;
  font-family: "Lato", sans-serif;
  }

  .navigation-container {
    background-color: #f44336;
    color: #fff;

  }

  .banner-container {
    background-color: #f44336;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

  }

  .content1-container {
    background-color: #fff;
    color: #000;

  }

  .content2-container {
    background-color: #f1f1f1;
    color: #000;

  }

  .quote-container {
    background-color: #000;
    color: #fff;
    opacity: 0.60 ;

  }

  .footer-container {
    background-color: #fff;
    color: #000;
    
  }

  ul.topnav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    ul.topnav li {float: left;}
    
    ul.topnav li a {
      display: block;
      color: #f1f1f1;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    ul.topnav li a:hover:not(.active) {background-color: white;}
    
    
    ul.topnav li a.active {background-color: rgb(97, 97, 97);}
    
  /* Change color on hover */
  .topnav a:hover {
      background-color: white;
      color: black;
    }
  /*------header-------*/
    .banner {
        padding: 80px;
        align-items: center;
        text-align: center;
        color: #f1f1f1; 
        height: 100vh;
       
    }
    .name {
        color: tomato;
    }
  /*-----animated button----*/
    .button {
        color: #fff;
        background-color: #000;
        padding: 12px 24px;
    }
    
    .button:hover {background-color: #a76161}
    
    .button:active {
      background-color: #242020;
      transform: translateY(4px);
    }