

*{
    box-sizing: border-box;    
  }
  /* *::before, *:after */
  
body{
      display: flex;
      width: 100%;
      height: 100vh; 
      padding:0px;
      margin: 0px;
       font-family:'Lato', sans-serif, 'Noto Sans JP', sans-serif, 'Oswald', sans-serif, 'Roboto', sans-serif;

  }
  
  /* =======main-container=======*/
.main-container {
  width: 100%;
  height: 100vh;


}

 /* ========navigation-container========*/
.navigation-container {
    background-color: #f44336;
    color: #fff;
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0px;
    line-height: 1.5;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
  
  ul.topnav li {float: left;
 
}
  
  ul.topnav li a {
    display: block;
    color: #f1f1f1;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    height: 50px;
  }
  
  ul.topnav li a:hover:not(.active) {background-color:#fff;
  }
  
  ul.topnav li a.active {background-color: #fff;
      color: #000;  
  }

  .topnav li a.active:hover {
      background-color: gray ;

  }
  /* ---Change color on hover ---- */
   .topnav a:hover {
    background-color: white;
    color: #000;
  }

  /*========button========*/
  button {
    color: #fff;
    background-color: #000;
    padding: 12px 24px;
    margin-top: 16px;
    font-size: 18px;
    font-stretch: 100%;
    white-space: nowrap;
    margin-top: 16px, 16px; 
  }

  button:hover {background-color: #fff;
    color: black;
  }

/*========banner========*/

  .banner-container {
    background-color: #f44336;
    color: #fff;
    height: 50vh;
}

  .banner {
    padding: 80px;
    align-items: center;
    text-align: center;
    color: #f1f1f1; 
    line-height: 30px;
          
}

.temp {
   /* font-size: 3em; */
  font-size: 64px;
  font-weight: 900;
  
}

/*=======content container========*/

.content-container {
    background-color: #fff;
    color: #000;
    width: 100%;
    padding-left: 50px, 50px;
    /* margin: 5%; */
    /* align-content: center;*/
    padding: 64px;
}

.lorem1 {
  float: left;;
  width: 70%;
  font-size: 15px;
  padding-top: 40px;
  padding-bottom: 64px;
  padding-left: 50x;
  padding-right: 100px;
  margin: 10px; 
  color: rgb(117,117,117);
  line-height: 1.5;
  align-content: center;
}  

.img1 ::before{
  float: right;
  width: 30%; 
  align-content: center;
  padding-bottom: 0px;

}

.img-1 {  
  text-align: center;
   color: rgb(244, 67, 54);
   padding-top: 120px; 
   align-content: center;
 
}

::after {
  content: "";
  display: table;
  clear: both;
}

/* ========content2-container=========*/
  .content2-container{
    background-color: #f1f1f1;
    color: #000; 
    width: 100%;
   
    
  }

  .lorem2 {
  float: right;
  width: 70%;
  font-size: 15px;
  padding-left: 64px;
  padding-top: 50px;
  padding-bottom: 64;
  padding-right: 100px;
  margin: 10px;
  color: rgb(117,117,117);
  line-height: 1.5;
  align-content: center;
 
}  

.img2 ::after{
  float: left;
  width: 30%;
  align-content: center;

}

.img-2{  
  text-align: center;
  color: rgb(244, 67, 54);
  padding-top: 120px;
  align-content: center;
     
} 

::after {
  content: "";
  display: table;
  clear: both;
}

 h1 {
    font-size: 36px;
    font-weight: 400;
    
  }
  h5 {
    font-size: 18px;
     font-weight: bolder;
     /* width: 617.328px; */
  }
 
  p {
   font-size: 15px;
   /* width: 617.328px; */
   
  }

  ::after{
    content: "";
    display: table;
    clear: both;
  }
  .quote-container {
    background-color: #000;
    color: #fff;
    opacity: 0.60;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 64px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 64px;
  }

  ::after {
    content: "";
    display: table;
    clear: both;
  }
  .footer-container {
    background-color: #fff;
    color: #000;
    line-height: 22.5px;
    opacity: 0.6px;
    height: 280px;
    text-align: center;
    padding-bottom: 64px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 64px;
  }

