
*{
  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    padding: 0px; 
}


.navbar {
    list-style-type: none;
    background: #e9aee9;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  
  .navbar li{
    display: inline-block;
  }
  
  .navbar a{
    text-decoration: none;
    color: #fff;
    width: 100px;
    display: block;
    padding: 15px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .navbar a:hover{
    background: #000;
    transition: 0.6s;
  }


  /*Viewport is the browser window size. 1vw = 1% of viewport width. If the viewport is 50cm wide, 1vw is 0.5cm.~*/
  #port{
    font-size: 5vw;
  }
  
.port-container{
  width: 600px;
  box-shadow: 0 0 15px rgba(0,0,0,.20);
  display: flex;
}

.img{
  min-height: 100%;
}
.content-container{
  padding: 50px 40px;
  
}
.title{
  font-weight: 800px;
  color: #444;
  font-size: 35px;
  margin: 30px;
}
.discreption {
font-size: 14px;
font-weight: 800;
/* letter-spacing: 1px; */
line-height: 1.4;
color:#777;
}



