
::before
::after
* {
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato','Raleway', sans-serif;

  }
.btn{
    background-color: rgb(144, 216, 212);
    border-radius: 5px;
}

  .main-container {
      width: 100%;
      height: auto;
      padding: 0px;
      margin: 0px;
      position: relative;

      
  }
  .content-container{
      width: 80%;
      height: auto;
      padding: 0px auto;
      padding-top: 0px;
      margin-left: auto; 
      margin-right:auto;
      text-align: left;
    
  }

  .img-p {
    float: left;
    width: 90%; 
    display: flex;
    display: block;
     
}
  .img1 {
        width: 24px;
        height: 24px;
        object-fit: cover;
        border-radius: 50%;
        margin: 20px 0;
        float: left;
        padding-right: 20px;
 
    }
    

    .img2 {
        display: block;
        max-width: 100%; 
        max-height: auto;   
        margin: 0 auto;
        align-content: center;
        align-items: center;
        text-align: center;
    }
    

    .img-2 {
        width: 90%; 
        height: 10%;   
        margin: 0px;
        position: relative;
        float: left;
        padding: 0px;
        
    }

    .p1 {
        width: 93%;
        float: left;
        display: flex;
        display: block;

    }
    
    .footer{
        float: left;
        width: 100%;
        text-align: center;
        background-color: rgb(119, 107, 119);
        padding-top: 25px;
        padding-bottom: 25px;
    }  
.copyright-container {
    float: left;
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}
