
* {
    box-sizing: border-box;
}

/*-----body-----*/
body {
    /* display: flex; */
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    color: #4D4D4F;
    font-family: 'Lato','Raleway', sans-serif;
    /* color: #292920;  */
    font-size: 16px;
   
    
}

.main-container {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
    font-size: 10px;
    line-height: 1.5;
    background-color: #E39C9C; 
  
    
    /* overflow-y: hidden; */
  
   
}

 .wrapper{
    width: 30% ;
    height: 80%;
    font-size: 16px;
    margin-top: 60px;
    margin-left: auto; 
    margin-right:auto;
    text-align: center;
    padding: 2%;
    background-color: #E39C9C; 
    overflow-x: hidden;
   
} 

.wrapper {
    display: flex;
    display: block;
    position: relative;
    border: 1px rgb(241, 236, 236); 
    box-shadow: 0px 2px 10px 2px rgba(16,16,0,0.16),  2px 10px  rgba(10,12,0,.12);
    align-content: center;
    align-items: center; 
    
}

img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px 0;
    position: relative;
}
.header {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
    white-space: nowrap;
}

h1  {
    font-weight: 500;
    color: #4D4D4F;
    height: 200;
    /* font-size: 20px; */
    font-family: montserrat, sans-serif;
    flex-direction: column;
    justify-content: center
}

h2, p, a {
    font-weight: 500;
    line-height: 29px;
    font-size: 14px;
    z-index: 2;
    color: #4D4D4F;
   
}

li {  font-size: 22px;
      text-decoration: none;
      padding-top: 20px 20px;    
}

li, a{
    text-decoration: none;
    /* color: #4D4D4F; */
    line-height: 44px; 
}   

 ul {
     padding: 0px;
     margin: 0px;
     align-content: center;
     align-items: center;
    list-style: none; 
}         

 
button{   
    display: block;
    width: 180px;
    background-color:  #E39C9C;
     margin: auto; 
    padding: 0px;
    position: relative;
    border: none;
  } 
  
 .button {
    display: flex;
    align-content: center;  
    align-items: center;
    flex-direction: column; 
    justify-content: center;
     margin-top: auto;
    /* margin-bottom: 20px;  */
     
 } 

 button{   
    font-size: 16px;
    background-color:  #E39C9C; 
    padding: 15px 0;
   /* position: relative;  */
}

.button button:first-child{
    border-top: 1px solid  #181804; 
   
    

}

button{
    border-right: 1px solid  #181804; 
    /* height: 90px; */
   

}

button{
    border-left: 1px solid  #181804; 
    /* height: 90px; */
}

/* .button button:last-child{
    border-bottom: 1px solid  #181804;
    /* margin: 20px; */
   /* padding: 20px;
    padding-bottom: none;
} */
button {
    border-bottom: 1px solid  #181804;
   
}


 .footer {
    width: 100%;
    display: flex;
    display: inline-block;
    background-color: #e46e6e;;  
    
 }

 .fav {
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 15px;
    color: black;

 }


 .copyright {
     float: right;
     width: 50%;
    text-align: right;
    padding-right: 15px;
   
 }
  
    
