
* {
    box-sizing: border-box;
}

/*-----body-----*/
body {
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    color: #4D4D4F;
    font-family: 'Lato','Raleway', sans-serif;
    /* color: #292920;  */
    font-size: 16px;
    
}
/*---=== end body ===---*/

/* ---=== main container ===--- */
.main-container {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
    font-size: 10px;
    line-height: 1.5;
    background-color: #E39C9C; 
   
}
/* ---=== end main container ===--- */

/* ---=== wrapper container ===--- */
 .wrapper{
    width: 30% ;
    height: 80%;
    font-size: 16px;
    margin-top: 60px;
    margin-left: auto; 
    margin-right:auto;
    text-align: center;
    padding: 2%;
    background-color: #E39C9C; 
    overflow-x: hidden;
   
} 

.wrapper {
    display: flex;
    display: block;
    position: relative;
    border: 1px rgb(241, 236, 236); 
    box-shadow: 0px 2px 10px 2px rgba(16,16,0,0.16),  2px 10px  rgba(10,12,0,.12);
    align-content: center;
    align-items: center; 
    
}

img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 60%;
    margin: 20px 0;
    position: relative;
}
/* ---=== end wrapper container ===--- */

/* ---=== header container ===--- */
.header {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
}

h1  {
    font-weight: 500;
    color: #4D4D4F;
    height: 200;
    font-family: montserrat, sans-serif;
    flex-direction: column;
    justify-content: center
}

h2, p, a {
    font-weight: 500;
    line-height: 29px;
    font-size: 16px;
    z-index: 2;
    color: #4D4D4F;
   
}
/* ---=== end header container ===--- */

/* ---=== nav-link container ===--- */
li {  font-size: 22px;
      text-decoration: none;
         
}

li, a{
    text-decoration: none;
    line-height: 44px; 
}   

ul {
     padding: 0px;
     margin: 0px;
     list-style: none; 
}         

button{   
    display: flex;
    display: block;
    width: 100%;
    position: relative;
    border: 1px solid  #181804; 
  } 
  
.button {
    display: flex;
    align-content: center;   
    align-items: center;
    flex-direction: column;  

 }
    
 button{   
    font-size: 16px;
    background-color:  #E39C9C; 
    padding: 20px 0;
    margin: 10px;
    border-radius: 5px;
}
/* ---=== end nav-link container ===--- */

/* ---=== footer container ===--- */
 .footer {
    width: 100%;
    display: flex;
    display: inline-block;
    background-color: #e46e6e;;  
    
 }

 .fav {
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 15px;
    color: black;

 }

 .copyright {
    float: right;
    width: 50%;
    text-align: right;
    padding-right: 15px;
   
 }
 /* ---=== end footer container ===--- */
  
    
