*{
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
  
}

/*----======== wrapper section =======----*/
.main-container {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    /* display: flex; */
    /* display: block; */
}
/*----========= end wrapper section==========----*/

/*----========== nav section==============----*/
.nav {
    float: left;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #f44336;
    border-bottom: 1px rgb(241, 236, 236); 
    box-shadow:   0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.nav {
    display: flex;
    display: block;
}

li {
    float: left; 
    list-style: none;
    
    } 

    ul {
      padding: 0px;
     
    }
    
  li a {
      color: #f1f1f1;
      text-align: center;
      padding: 16px 20px;
      text-decoration: none;
      margin: 0px;
    
    }
    /*---- link hover----*/
    .nav li a:hover{
      background-color: #fff; 
      color: #000;
    
    }
    
    .nav li .active {
     background-color: #fff;
     color: #000;
       
    }
    
    .nav li .active:hover {
    background-color: #fff;
     color: #000;
    }
    /*----======= end nav section ==========----*/

    /*---======== heading section ============---*/
    .section1 {
        width: 100%;
        height: 20vh;
        display:flex;
        display: block;
        padding-top: 50px;
        padding-left: 10%;
    } 
    /*----======= end hearder section ===============----*/  
.visual{
    float: left;
    width: 100%;
    height: auto;
    display: flex;
    display: inline-block;
    padding: 5%;
    padding-top: 20px;
 
}

.visual-1 { 

    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    display: inline-block; 
    flex: 50;
    padding: 15px;
}

img {
    width: 480px;
   height: 300px;
     /* padding-right: 30px; */
}

iframe{
    width: 480px;
    height: 300px;
    padding: 0px;
} 
h2 {
    text-transform: uppercase;
    font-weight: 500;
    color: #525f7f;

}
  /*---======== visual section ========----*/


/*----========== footer section ========----*/
.footer  {
    float: left;
    width: 100%;
    height: 20%;
    display: flex;
    display: block;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: lightslategray;
}
/*----========= end footer section =========----*/

/*---- media queries----*/
 /* @media screen and (max-width: 500px) and (max-width: 1024px) {
    body {
        width: 100%; 
    }
} */
@media only screen and (max-width: 600px) {
    .main-container {
        width: 100%;
        height: 95%; 
    }
}


/* Landscape */
/* @media screen 
and (max-device-width: 600px) 
and (max-device-height: 400px) 
and (orientation: landscape) {
    body {
        background-color: lightblue;
      }

} */