*{
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
  
}

/*----======== wrapper section =======----*/
.main-container {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    /* display: flex; */
    /* display: block; */
}
/*----========= end wrapper section==========----*/

/*----========== nav section==============----*/
.nav {
    float: left;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #f44336;
    border-bottom: 1px rgb(241, 236, 236); 
    box-shadow:   0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.nav {
    display: flex;
    display: block;
}

li {
    float: left; 
    list-style: none;
    
    } 

    ul {
      padding: 0px;
     
    }
    
  li a {
      color: #f1f1f1;
      text-align: center;
      padding: 16px 20px;
      text-decoration: none;
      margin: 0px;
    
    }
    /*---- link hover----*/
    .nav li a:hover{
      background-color: #fff; 
      color: #000;
    
    }
    
    .nav li .active {
     background-color: #fff;
     color: #000;
       
    }
    
    .nav li .active:hover {
    background-color: #fff;
     color: #000;
    }
    /*----======= end nav section ==========----*/

    /*---======== heading section ============---*/
    .section1 {
        width: 100%;
        height: 20vh;
        display:flex;
        display: block;
        padding-top: 50px;
        padding-left: 10%;
    } 
    /*----======= end hearder section ===============----*/  
.visual{
    float: left;
    width: 100%;
    height: auto;
    display: flex;
    padding: 5%;
    padding-top: 20px;
 
}

.visual-1 { 
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    display: inline-block; 
    flex: 50;
}

img {
    width: 500px;
    height: 300px;
    padding-right: 30px;
}

iframe{
    width: 500px;
    height: 300px;
    padding: 0px;
} 
h2 {
    text-transform: uppercase;
    font-weight: 500;
    color: #525f7f;

}
  /*---======== visual section ========----*/


/*----========== footer section ========----*/
.footer  {
    float: left;
    width: 100%;
    height: 20%;
    display: flex;
    display: block;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: lightslategray;
}
/*----========= end footer section =========----*/

/*---- media queries----*/
/* @media screen and (min-width: 500px) and (max-width: 1024px) {
    ul {
        width: 100%; 
    }
  .visual{
        width: 100%; 
        display: flex;
        
    }
} */
/*---- media queries----*/
/* @media screen and (max-width: 600px){
    ul {
        width: 90%; 
    }
  .visual{
        width: 100%; 
        display: flex;
  }
    .section1 {
        height: 10px;
    }
    @media screen and (max-width: 500px){
        .visual{
            width: 100%; 
            display: flex;
            display: block;
            flex-direction: column;
        }  
        
        }

        ul {
            width: 100%; 
        }
}
            
 */

    
/*-----== media queries ==-----*/
/*---- media queries----*/
@media screen and (max-width: 600px){
    .visual-1{
        width: 100%;
        height: 95%; 
    }
}   
 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card {
        width: 90%;
        height: 95%; 
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .visual-1{
        width: 90%;
        height: 95%; 
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .visual-1 {
        width: 90%;
        height: 95%; 
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .visual-1 {
        width: 90%;
        height: 95%; 
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .visual {
        width: 70%;
        height: 95%; 
    }
} 
@media only screen and (max-width: 1200px) {
    .visual-1 {
        width: 100%;
        height: 95%; 
    }

}  
   


   








