* {
  box-sizing: border-box;
}

body {
  display: flex;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}

/*----main container---*/
.main-container {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

/* Style the top navigation bar */
.topnav-container {
  background-color: #f44336;
  width: 100%;
  height: 50px;
  position: fixed;
  padding-bottom: 10px;
  border-bottom: 1px rgb(241, 236, 236);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

ul.topnav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  height: 50px;
}

/* ---Change color on hover ---- */
ul.topnav li a:hover:not(.active) {
  background-color: #fff;
  color: #000;
}

ul.topnav li a.active {
  background-color: #fff;
  color: #000;
}

.topnav li a.active:hover {
  background-color: #fff;
}
/* -----banner-----*/
.banner {
  width: 100%;
  background-color: #f44336;
  color: #fff;
  /* height: 70vh; */
}

.banner {
  padding: 80px;
  align-items: center;
  text-align: center;
  line-height: 30px;
}

.banner > h1 {
  font-weight: 900;
  font-size: 64px;
}
/* ----end banner container----*/

/* ----button---- */
button {
  color: #fff;
  background-color: #000;
  padding: 12px 24px;
  margin-top: 16px;
  font-size: 18px;
  font-stretch: 100%;
  white-space: nowrap;
}

button:hover {
  background-color: #fff;
  color: black;
}
/* ----end banner container----*/

/*Create five equal columns that floats next to each other */
.column-container {
  display: flex;
  display: block;
  width: 100%;
  height: 70vh;
  /* padding: 5%;
    padding: 20px; */
  padding: 3%;
}

.column {
  float: left;
  width: 20%;
  padding: 5px;
}
/*--- end 5 column container---*/

/*--=====Footer==*/
.quote-container {
  display: flex;
  display: block;
  width: 100%;
  float: left;
  background-color: #000;
  color: #fff;
  opacity: 0.6;
  /* font-size: 4px; */
  font-weight: 100;
  text-align: center;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 30px;
}
/* ----end quote container----*/

.social-container {
  display: flex;
  display: block;
  background-color: #fff;
  color: #000;
  /* line-height: 22.5px; */
  opacity: 0.6px;
  /* height: 120px; */
  /* text-align: center; */
  align-content: center;
  padding-bottom: 40px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 60px;
}
.social {
  float: left;
  list-style: none;
  padding: 3px;
  /* padding-top: 30px; */
  padding-bottom: 40px;
}

.copyright-container {
  float: right;
  /* padding-top: 30px; */
  padding-bottom: 40px;
  padding-right: 20px;
}
