* {
    box-sizing: border-box;
  }
  
body {
    display: flex;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
  }
  /*----main container---*/
.main-container {
    background-color: teal;
    width: 100%;
  }
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color:rgb(223, 37, 37);
  }
  
  /* Style the topnav links */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
  }
  
  /* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }


  /* Style the header */
  /* .hearder-container{
  background-color: brown;
    height: 100vh;
  } */
.header1 {
    display: block;
    background-color: #c41b1b;
    padding: 60px;
    text-align: center;
    align-content: center;
  }

  /* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  
  
.quote-container {
      width: 100%;
    float: left;
      background-color: #000;
      color: #fff;
      opacity: 0.60;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      padding-bottom: 64px;
      padding-right: 16px;
      padding-left: 16px;
      padding-top: 64px;
    } 


.footer-container {
    width: 100%;
    float: left;
    background-color: #fff;
      color:#000; 
      opacity: 0.60;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      padding-bottom: 64px;
      padding-right: 16px;
      padding-left: 16px;
      padding-top: 64px;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }